<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Photo layout</title>
</head>
<body>
    <header>
        <h1>PHOTO GALLERY</h1>
        <nav>
            <a href="">Home</a>
            <a href="">Blog</a>
            <a href="">About</a>
        </nav>
    </header>
    <section class="images">
       
        <figure class="image1"> 
            <img   src="images/1.jpg" alt="">
            <p>by Les Haines</p>
        </figure>
        <section class="header-images">
            <h2>PHOTOS FROM AROUND THE WORLD</h2>
            <p>A COLLECTION OF BEAUTIFUL PHOTOS</p>
        </section>
        <figure class="image2">
            <img    src="images/2.jpg" alt="">
            <p>by Nicolas Raymond</p>
        </figure>
        <figure class="image3">
            <img   src="images/3.jpg" alt="">
            <p>by Rula Sibai</p>
        </figure>
        <figure class="image4">
            <img   src="images/4.jpg" alt="">
            <p>by Charlie Foster</p>
        </figure>
        <figure class="image5"> 
            <img   src="images/5.jpg" alt="">
            <p>by YinYan Chen</p>
        </figure>
        <figure class="image6">
            <img   src="images/6.jpg" alt="">
            <p>by Dillan MCIntosh</p>
        </figure>
        <figure class="image7">
            <img   src="images/7.jpg" alt="">
            <p>by L Dericks</p>
        </figure>
        <figure class="image8"> 
            <img   src="images/8.jpg" alt="">
            <p>by Tharun Buranapong</p>
        </figure>  
    </section>
    <footer>
        <h2>SUBMIT A PHOTO</h2>
        <form>
            <input type="url" name="photo-url" id="photoUrl" placeholder="Photo url">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="submit" value="SUBMIT">
        </form>
    </footer>
</body>
</html>